In [1]:
import pandas as pd

In [2]:
input_file = '/gpfs/home/ptseng/Torkamani_Projects/20210830_PCa_UKBB/fuma/fuma_snp_output/snps.txt'

In [3]:
data = pd.read_csv(input_file,sep='\t')
data = data.loc[data['gwasP'].notna()]
data = data.drop_duplicates('rsID')
data

,uniqID,rsID,chr,pos,non_effect_allele,effect_allele,MAF,gwasP,beta,se,...,nearestGene,dist,func,CADD,RDB,minChrState,commonChrState,posMapFilt,eqtlMapFilt,ciMapFilt
0,1:204449952:C:T,rs7519417,1,204449952,T,C,0.2684,5.750955e-08,0.106234,0.019691,...,PIK3C2B,0,intronic,6.522,2a,2,7,1,0,0
1,1:204450467:C:T,rs938126,1,204450467,C,T,0.2684,6.970437e-08,0.105922,0.019760,...,PIK3C2B,0,intronic,2.798,NaN,2,7,1,0,0
2,1:204450482:A:G,rs938125,1,204450482,A,G,0.2684,7.319308e-08,0.105731,0.019756,...,PIK3C2B,0,intronic,1.274,NaN,2,7,1,0,0
3,1:204451086:C:T,rs10900590,1,204451086,C,T,0.2684,4.688026e-08,0.106953,0.019693,...,PIK3C2B,0,intronic,5.589,4,2,7,1,0,0
4,1:204451495:C:T,rs4951382,1,204451495,T,C,0.2694,4.354317e-08,0.107149,0.019682,...,PIK3C2B,0,intronic,15.390,1f,2,7,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3381,22:43504326:A:T,rs2413747,22,43504326,A,T,0.4423,2.999853e-12,-0.123050,0.017644,...,BIK,2427,intergenic,2.262,6,5,14,1,0,0
3382,22:43504327:A:C,rs2899368,22,43504327,A,C,0.4423,2.994332e-12,-0.123055,0.017644,...,BIK,2426,intergenic,2.237,6,5,14,1,0,0
3383,22:43504328:C:G,rs2899369,22,43504328,G,C,0.4463,2.978516e-12,-0.123029,0.017639,...,BIK,2425,intergenic,1.063,6,5,14,1,0,0
3384,22:43504588:C:T,rs2013863,22,43504588,T,C,0.4423,3.149923e-12,-0.122751,0.017618,...,BIK,2165,intergenic,2.431,6,5,14,1,0,0
3385,22:43510219:A:G,rs738276,22,43510219,A,G,0.3718,2.378209e-08,0.101044,0.018142,...,BIK,0,intronic,4.070,4,5,14,1,0,0

In [4]:
snp2gene = data[['rsID','nearestGene']]
snp2gene = snp2gene.rename(columns={
    'rsID':'SNP',
    'nearestGene':'gene'
})
snp2gene

             SNP     gene
0      rs7519417  PIK3C2B
1       rs938126  PIK3C2B
2       rs938125  PIK3C2B
3     rs10900590  PIK3C2B
4      rs4951382  PIK3C2B
...          ...      ...
3381   rs2413747      BIK
3382   rs2899368      BIK
3383   rs2899369      BIK
3384   rs2013863      BIK
3385    rs738276      BIK

[3161 rows x 2 columns]

In [5]:
snp2gene.to_csv('../snp2gene.txt',sep=' ',index=False)

In [6]:
snp_chr_pos_p = data[['rsID','chr','pos','gwasP']]
snp_chr_pos_p = snp_chr_pos_p.rename(columns={
    'rsID':'SNP',
    'gwasP':'p'
})
snp_chr_pos_p

             SNP  chr        pos             p
0      rs7519417    1  204449952  5.750955e-08
1       rs938126    1  204450467  6.970437e-08
2       rs938125    1  204450482  7.319308e-08
3     rs10900590    1  204451086  4.688026e-08
4      rs4951382    1  204451495  4.354317e-08
...          ...  ...        ...           ...
3381   rs2413747   22   43504326  2.999853e-12
3382   rs2899368   22   43504327  2.994332e-12
3383   rs2899369   22   43504328  2.978516e-12
3384   rs2013863   22   43504588  3.149923e-12
3385    rs738276   22   43510219  2.378209e-08

[3161 rows x 4 columns]

In [7]:
snp_chr_pos_p.to_csv('../snp_chr_pos_p.txt',sep=' ',index=False)