In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
in_path = '/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/torkamani_request.txt'
raw_out_path = '/gpfs/home/ptseng/Torkamani_Projects/20210830_PCa_UKBB/regenie/regenie_input/PCa_pheno_raw.txt'
out_path = '/gpfs/home/ptseng/Torkamani_Projects/20210830_PCa_UKBB/regenie/regenie_input/PCa_pheno.txt'

def find_index(input_list,targets):
    index = 0
    index_list = []
    for element in input_list:
        for target in targets:
            if element == target:
                targets.remove(target)
                index_list.append(index)
        index += 1
    return (index_list,targets)

columns_of_interest = [
    "f.40006.0.0", "f.40006.1.0", "f.40006.2.0", "f.40006.3.0", "f.40006.4.0", "f.40006.5.0", 
    "f.40006.6.0", "f.40006.7.0", "f.40006.8.0", "f.40006.9.0", "f.40006.10.0", "f.40006.11.0", 
    "f.40006.12.0", "f.40006.13.0", "f.40006.14.0", "f.40006.15.0", "f.40006.16.0"
]

first_line = True
with open(raw_out_path,'w') as outfile:
    with open(in_path,'r') as infile:
        for line in infile:
            line = list(line[:-1].split(' '))
            if first_line:
                (indices, missing) = find_index(line, columns_of_interest)
                print(f'Targets at positions: {" ".join([str(i) for i in indices])}')
                print(f'Missing targets: {" ".join(missing)}')
                first_line = False
            output_list = line[:2] + [line[index] for index in indices]
            output_line = ' '.join(output_list) + '\n'
            outfile.write(output_line)

{k: v for k, v in sorted(output_dict.items(), reverse=True, key=lambda item: item[1])}

In [3]:
data = pd.read_csv(raw_out_path,sep=' ',low_memory=False)

In [4]:
data.head()

,FID,IID,f.40006.0.0,f.40006.1.0,f.40006.2.0,f.40006.3.0,f.40006.4.0,f.40006.5.0,f.40006.6.0,f.40006.7.0,f.40006.8.0,f.40006.9.0,f.40006.10.0,f.40006.11.0,f.40006.12.0,f.40006.13.0,f.40006.14.0,f.40006.15.0,f.40006.16.0
0,1000013,1000013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000024,1000024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000036,1000036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000048,1000048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000055,1000055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data['Ca'] = False
data['PCa'] = False
for (column_name,column_data) in data.iteritems():
    if column_name == 'FID' or column_name == 'IID' or column_name == 'PCa' or column_name == 'Ca':
        continue
    else:
        data['PCa'] |= (column_data == 'C61')
        data['Ca'] |= column_data.notna()
        
for (column_name,column_data) in data.iteritems():
    if column_name == 'FID' or column_name == 'IID' or column_name == 'PCa' or column_name == 'Ca':
        continue
    else:
        data['PCa'] &= ((column_data == 'C61') | column_data.isna())

print(sum(list(data['PCa'])))
print(sum(list(data['Ca'])))

7646
84722

In [6]:
subdata = data.loc[:,['FID','IID','PCa']]
subdata.loc[:,'PCa'] = subdata.loc[:,'PCa'].astype('int8')
sum(subdata['PCa'])

7646

In [7]:
len(subdata)

502485

In [8]:
subdata.loc[subdata["PCa"] == True]

            FID      IID  PCa
22      1000238  1000238    1
50      1000518  1000518    1
65      1000669  1000669    1
93      1000941  1000941    1
99      1001000  1001000    1
...         ...      ...  ...
502060  6020819  6020819    1
502143  6021646  6021646    1
502199  6022208  6022208    1
502257  6022785  6022785    1
502407  6024284  6024284    1

[7646 rows x 3 columns]

In [9]:
subdata.to_csv(out_path,sep = ' ',index = False)

NameError: name 'out_path2' is not defined

In [ ]:
Ca_subset = data.loc[data['Ca']]

nonPCa_Ca_subset = Ca_subset.loc[(not item for item in Ca_subset['PCa'])]

len(nonPCa_Ca_subset)

nonPCa_Ca_subset[['FID','IID']].to_csv('exclude_nonPCa_Ca.txt',header=False,index=False,sep=' ')