In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [2]:
in_path = '/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/pejman_request.txt'
raw_out_path = '../regenie_input/PCa_pheno_raw.txt'
out_path = '../regenie_input/PCa_pheno.txt'

In [3]:
def find_index(input_list,targets):
    index = 0
    index_list = []
    for element in input_list:
        for target in targets:
            if element == target:
                targets.remove(target)
                index_list.append(index)
        index += 1
    return (index_list,targets)

In [4]:
columns_of_interest = [
    "f.40006.0.0", "f.40006.1.0", "f.40006.2.0", "f.40006.3.0", "f.40006.4.0", "f.40006.5.0", 
    "f.40006.6.0", "f.40006.7.0", "f.40006.8.0", "f.40006.9.0", "f.40006.10.0", "f.40006.11.0", 
    "f.40006.12.0", "f.40006.13.0", "f.40006.14.0", "f.40006.15.0", "f.40006.16.0"
] + [ 
    "f.20107.0.0", "f.20107.0.1", "f.20107.0.2", "f.20107.0.3", "f.20107.0.4", "f.20107.0.5", "f.20107.0.6", "f.20107.0.7", "f.20107.0.8", "f.20107.0.9", 
    "f.20107.1.0", "f.20107.1.1", "f.20107.1.2", "f.20107.1.3", "f.20107.1.4", "f.20107.1.5", "f.20107.1.6", "f.20107.1.7", "f.20107.1.8", "f.20107.1.9", 
    "f.20107.2.0", "f.20107.2.1", "f.20107.2.2", "f.20107.2.3", "f.20107.2.4", "f.20107.2.5", "f.20107.2.6", "f.20107.2.7", "f.20107.2.8", "f.20107.2.9", 
    "f.20107.3.0", "f.20107.3.1", "f.20107.3.2", "f.20107.3.3", "f.20107.3.4", "f.20107.3.5", "f.20107.3.6", "f.20107.3.7", "f.20107.3.8", "f.20107.3.9"
] + [
    "f.20110.0.0", "f.20110.0.1", "f.20110.0.2", "f.20110.0.3", "f.20110.0.4", "f.20110.0.5", "f.20110.0.6", "f.20110.0.7", "f.20110.0.8", "f.20110.0.9", "f.20110.0.10", 
    "f.20110.1.0", "f.20110.1.1", "f.20110.1.2", "f.20110.1.3", "f.20110.1.4", "f.20110.1.5", "f.20110.1.6", "f.20110.1.7", "f.20110.1.8", "f.20110.1.9", "f.20110.1.10", 
    "f.20110.2.0", "f.20110.2.1", "f.20110.2.2", "f.20110.2.3", "f.20110.2.4", "f.20110.2.5", "f.20110.2.6", "f.20110.2.7", "f.20110.2.8", "f.20110.2.9", "f.20110.2.10", 
    "f.20110.3.0", "f.20110.3.1", "f.20110.3.2", "f.20110.3.3", "f.20110.3.4", "f.20110.3.5", "f.20110.3.6", "f.20110.3.7", "f.20110.3.8", "f.20110.3.9", "f.20110.3.10"
] + [
    "f.20111.0.0", "f.20111.0.1", "f.20111.0.2", "f.20111.0.3", "f.20111.0.4", "f.20111.0.5", "f.20111.0.6", "f.20111.0.7", "f.20111.0.8", "f.20111.0.9", "f.20111.0.10", "f.20111.0.11", 
    "f.20111.1.0", "f.20111.1.1", "f.20111.1.2", "f.20111.1.3", "f.20111.1.4", "f.20111.1.5", "f.20111.1.6", "f.20111.1.7", "f.20111.1.8", "f.20111.1.9", "f.20111.1.10", "f.20111.1.11", 
    "f.20111.2.0", "f.20111.2.1", "f.20111.2.2", "f.20111.2.3", "f.20111.2.4", "f.20111.2.5", "f.20111.2.6", "f.20111.2.7", "f.20111.2.8", "f.20111.2.9", "f.20111.2.10", "f.20111.2.11", 
    "f.20111.3.0", "f.20111.3.1", "f.20111.3.2", "f.20111.3.3", "f.20111.3.4", "f.20111.3.5", "f.20111.3.6", "f.20111.3.7", "f.20111.3.8", "f.20111.3.9", "f.20111.3.10", "f.20111.3.11"
] + [
    "f.1873.0.0", "f.1873.1.0", "f.1873.2.0", "f.1873.3.0", 
    "f.1883.0.0", "f.1883.1.0", "f.1883.2.0", "f.1883.3.0"
]

first_line = True
with open(raw_out_path,'w') as outfile:
    with open(in_path,'r') as infile:
        for line in infile:
            line = list(line[:-1].split(' '))
            if first_line:
                (indices, missing) = find_index(line, columns_of_interest)
                print(f'Targets at positions: {" ".join([str(i) for i in indices])}')
                print(f'Missing targets: {" ".join(missing)}')
                first_line = False
            output_list = line[:2] + [line[index] for index in indices]
            output_line = ' '.join(output_list) + '\n'
            outfile.write(output_line)

Targets at positions: 860 861 862 863 864 865 866 867 8608 8609 8610 8611 8612 8613 8614 8615 8616 8617 8618 8619 8620 8621 8622 8623 8624 8625 8626 8627 8628 8629 8630 8631 8632 8633 8634 8635 8636 8637 8638 8639 8640 8641 8642 8643 8644 8645 8646 8647 8703 8704 8705 8706 8707 8708 8709 8710 8711 8712 8713 8714 8715 8716 8717 8718 8719 8720 8721 8722 8723 8724 8725 8726 8727 8728 8729 8730 8731 8732 8733 8734 8735 8736 8737 8738 8739 8740 8741 8742 8743 8744 8745 8746 8747 8748 8749 8750 8751 8752 8753 8754 8755 8756 8757 8758 8759 8760 8761 8762 8763 8764 8765 8766 8767 8768 8769 8770 8771 8772 8773 8774 8775 8776 8777 8778 8779 8780 8781 8782 8783 8784 8785 8786 8787 8788 8789 8790 8791 8792 8793 8794 14642 14643 14644 14645 14646 14647 14648 14649 14650 14651 14652 14653 14654 14655 14656 14657 14658
Missing targets:

In [5]:
data = pd.read_csv(raw_out_path,sep=' ',low_memory=False)

In [6]:
data.head()

,FID,IID,f.1873.0.0,f.1873.1.0,f.1873.2.0,f.1873.3.0,f.1883.0.0,f.1883.1.0,f.1883.2.0,f.1883.3.0,...,f.40006.7.0,f.40006.8.0,f.40006.9.0,f.40006.10.0,f.40006.11.0,f.40006.12.0,f.40006.13.0,f.40006.14.0,f.40006.15.0,f.40006.16.0
0,1000011,1000011,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000026,1000026,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000032,1000032,0.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000044,1000044,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000058,1000058,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data['Ca'] = False
data['PCa'] = False
for (column_name,column_data) in data.iteritems():
    if column_name == 'FID' or column_name == 'IID' or column_name == 'PCa' or column_name == 'Ca':
        continue
    elif column_name[0:7] == "f.40006":
        data['PCa'] |= (column_data == 'C61')
        data['Ca'] |= column_data.notna()
    elif column_name[0:5] == "f.201":
        continue
    else:
        print(column_name)
        continue
print(sum(list(data['PCa'])))

for (column_name,column_data) in data.iteritems():
    if column_name == 'FID' or column_name == 'IID' or column_name == 'PCa' or column_name == 'Ca':
        continue
    else:
        data['PCa'] &= ((column_data == 'C61') | column_data.isna())

print(sum(list(data['PCa'])))
print(sum(list(data['Ca'])))

f.1873.0.0
f.1873.1.0
f.1873.2.0
f.1873.3.0
f.1883.0.0
f.1883.1.0
f.1883.2.0
f.1883.3.0
9725
116
84723

In [8]:
subdata = data.loc[:,['FID','IID','PCa']]
subdata.loc[:,'PCa'] = subdata.loc[:,'PCa'].astype('int8')
sum(subdata['PCa'])

116

In [9]:
len(subdata)

502490

In [10]:
subdata.loc[subdata["PCa"] == True].to_csv("../../torkamani_PCa_IDs")

In [11]:
subdata.to_csv(out_path,sep = ' ',index = False)

In [12]:
Ca_subset = data.loc[data['Ca']]

In [13]:
nonPCa_Ca_subset = Ca_subset.loc[(not item for item in Ca_subset['PCa'])]

In [14]:
len(nonPCa_Ca_subset)

84607

In [15]:
nonPCa_Ca_subset[['FID','IID']].to_csv('exclude_nonPCa_Ca.txt',header=False,index=False,sep=' ')