In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_list = [f'../regenie_output/PCa_ukb_step2_BT.chr{i}_ltfh.regenie' for i in range(1,23)]

In [3]:
merged = pd.DataFrame()
for i in range(0,22):
    print(f'Reading Chromosome {""*len(str(i+1))}{i+1} statsfile')
    merged = merged.append(pd.read_csv(file_list[i], sep=' '))

Reading Chromosome 1 statsfile
Reading Chromosome 2 statsfile
Reading Chromosome 3 statsfile
Reading Chromosome 4 statsfile
Reading Chromosome 5 statsfile
Reading Chromosome 6 statsfile
Reading Chromosome 7 statsfile
Reading Chromosome 8 statsfile
Reading Chromosome 9 statsfile
Reading Chromosome 10 statsfile
Reading Chromosome 11 statsfile
Reading Chromosome 12 statsfile
Reading Chromosome 13 statsfile
Reading Chromosome 14 statsfile
Reading Chromosome 15 statsfile
Reading Chromosome 16 statsfile
Reading Chromosome 17 statsfile
Reading Chromosome 18 statsfile
Reading Chromosome 19 statsfile
Reading Chromosome 20 statsfile
Reading Chromosome 21 statsfile
Reading Chromosome 22 statsfile

In [4]:
merged

,CHROM,GENPOS,ID,ALLELE0,ALLELE1,A1FREQ,INFO,N,TEST,BETA,SE,CHISQ,LOG10P
0,1,10177,rs367896724,A,AC,0.398729,0.466352,424315,ADD,0.000889,0.000835,1.135090,0.542583
1,1,10235,rs540431307,T,TA,0.000349,0.197727,424315,ADD,-0.005244,0.033585,0.024377,0.057531
2,1,10352,rs201106462,T,TA,0.393016,0.444473,424315,ADD,-0.001432,0.000860,2.774590,1.018760
3,1,10511,rs534229142,G,A,0.001265,0.440114,424315,ADD,0.015859,0.011864,1.786740,0.741544
4,1,10539,rs537182016,C,A,0.000507,0.189163,424315,ADD,0.046236,0.028567,2.619540,0.976521
...,...,...,...,...,...,...,...,...,...,...,...,...,...
948663,22,51241285,rs7287738,T,G,0.000591,0.124612,424315,ADD,0.023850,0.032745,0.530498,0.331244
948664,22,51241309,rs534860445,C,T,0.000010,0.014198,424315,ADD,-1.261340,0.759746,2.756300,1.013800
948665,22,51241386,rs568168135,C,G,0.009455,0.399573,424315,ADD,0.001396,0.004578,0.092983,0.118947
948666,22,51244163,rs199560686,A,G,0.000035,0.144617,424315,ADD,-0.135076,0.124412,1.178780,0.556574
948667,22,51244237,rs575160859,C,T,0.013190,0.496043,424315,ADD,0.007296,0.003481,4.392120,1.442430

In [5]:
merged.to_csv('../PCa_ukb_step2_BT_ltfh.regenie', sep=' ', index=False)